:root {
    --color1: rgb(0,147,249) ; /*couleur ligne nav*/
    --color5: rgb(0,110,187) ; /* couleur texte barre nav */
    --color6: yellow ; /*coleur voluntas*/
}
@font-face {
    font-family: lifecraft;
    src: url(./Source/Police/LifeCraft_Font.ttf);
}

a {
    text-decoration: none;
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.logo {
    display: flex;
    height: 55vh;
    margin: 0 auto;
    color:var(--color6);
    margin-top: 7rem;
    margin-bottom: 48rem;
}
/*titre et barre de navigation*/
.nav {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    font-family: lifecraft;
}
.nav menu{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav menu a{
    text-decoration: none;
}
#ulistes li{
    font-size: 4rem;
}

.nav li{
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    padding: 10px 0;
    color: var(--color5);
}

.nav li:hover:before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background: var(--color1);
    transform: translateY(-15px);
}



.nav2 {
    max-width: 1100px;
padding-left: 400px;
    padding-bottom: 100px;
    position: absolute;
}
.nav2 menu{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav2 menu a{
    text-decoration: none;
}
#ulistes2{
    font-size: 4rem;
}
#uliste2{
    font-size: 1.1rem;
}
.nav2 li{
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    padding: 10px 0;
    color: var(--color5);
}

.nav2 :hover .sousmenu2 {
    display: block;
}

.sousmenu2 {
    font-size: 2.5rem;
    text-align: center;
    display: none ;
    position: absolute ;
    margin-bottom: -380px;
    margin-left: -38px;
    height: 350px;
}






