@import url('../Voluntas.css');
@import url('../navigation.css');

a:hover {
    text-decoration: none;
}
a {
    font-family: immortal ;
    cursor: pointer;
}
.logo {
    display: block;
    height: 65vh;
    margin-left: auto;
    margin-right: auto;
}
/* espace logo champions */
.espacelogo{
    height: 33em;
}

/* Loading */
#progress {
    position:absolute;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

/* Rules & Conditions */
.rules {
    text-align: center;
}
.rules h2 {
    display: block;
    font-family: lifecraft;
    font-size: 8rem;
}
.table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.t1 { grid-area: 1 / 1 / 2 / 2; }
.t2 { grid-area: 1 / 2 / 2 / 3; }
.t3 { grid-area: 2 / 1 / 3 / 2; }
.t4 { grid-area: 2 / 2 / 3 / 3; }
.t5 { grid-area: 3 / 2 / 4 / 3; }
.t6 { grid-area: 3 / 1 / 4 / 2; }

.table button {
    border: 1px solid black;
    border-radius: 105px;
    margin: 15px;
    font-size: 1.5em;
    height: 80px;
    width: 16rem;
}
.table p {
    font-size: 1.2em;
}

/* Misc */
.taille {
    height: 55px;
    width: 55px;
}

.flexboxperso {
    display: flex;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.grid-perso2 {
    display: grid;
    grid-template-columns: 10px /*role*/150px/*milieu */10px/*class*/; 
    grid-template-rows: 80px /* 1 */90px /* 2*/30px/* 3eme */ 20px/* 4*/;
    grid-column-gap: 10px;
}
    
#perso { grid-area: 1 / 2 / 2 / 3; }
#avatar { grid-area: 2 / 2 / 3 / 3; }
#playerilvl { grid-area: 3 / 2 / 4 / 3; }
#classplayer { grid-area: 3 / 1 / 4 / 2; }
#playerroless { grid-area: 3 / 3 / 4 / 4; }
#slcore { grid-area: 4 / 2 / 5 / 3; }

#testt img {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 80%;
}

#perso h5 {
    text-align: center;
    align-items: center;
    font-size: 2.8rem;
    text-shadow: 2px 2px 2px rgb(5, 0, 0);
    position:absolute;
    font-family: immortal;
    font-weight: 900;
    bottom: 5px;
    margin: 0;
    width: 100%;
}

#perso {
    text-align: center;
    text-align: center;
    margin: 0;
    position: relative;
}

#avatar {
    
    text-align: center;
}

#playerilvl {
    text-align: center;
}

#playerroless {
    text-align: left;
    margin-left: -41px;
}

#slcore {
    text-align: center;
}

#playerilvl p {
    font-family: Arial, Helvetica, sans-serif !important;
    text-align: center;
    align-items: center;
    font-size: 1.7em;
    text-shadow: 2px 2px 2px #0000008e;
}

#slcore p {
    font-family: lifecraft !important;
    font-size: 1.8em;
    text-align: center;
    text-shadow: 2px 2px 2px #0505058e;
}

.container h3 {
    font-size: 8rem;
    font-family: lifecraft !important;
    text-shadow: 3px 3px 3px #000000;
}

@media screen and (max-width: 1380px) {
    .espacelogo{
        height: 50em;
    }
    .callbacks_nav {
        top: 90px;
        left: 5px;
    }
}

@media screen and (max-width:1050px) {
    .logo {
        height: 30vh;
    }
    .table {
        display: block;
    }
    .espacelogo{
        height: 3em;
    }
    .callbacks_nav {
        top: 90px;
    }
}    