nav {
    display: flex;
    margin: 3em auto;
    justify-content: center;
    align-items: center;
}

nav > a, nav .dropdown > a {
    margin: auto 1em;
    font-family: lifecraft;
    font-size: 2em;
    max-height: 40px;
}

nav .dropdown {
    position: relative;
}

nav > a:hover,
nav .dropdown > a:hover,
nav .dropdown .contents > a:hover {
    text-decoration: none;
    color: var(--color-hover-a);
}

nav > a:hover {
    border-bottom: 1px solid var(--color1);
}

nav .dropdown .contents {
    display: none;
    position: absolute;
    z-index: 1;
}

nav .dropdown:hover .contents {
    display: block;
    width: 100%;
}

nav .dropdown .contents > a {
    display: block;
    text-align: center;
    font-size: 1.5em;
    white-space: nowrap;
}