nav {
    display: flex;
    margin: 3em auto;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

nav > a, .dropdown > a {
    margin: auto 1em;
    font-family: lifecraft;
    font-size: 2em;
    max-height: 40px;
    z-index: 4;
}
/* bare deroulante */
.dropdown {
    position: relative;
    font-size: 1.6rem;
    z-index: 2;
    margin-left: -2rem;
}

nav > a:hover,
.dropdown > a:hover,
.dropdown .contents > a:hover {
    text-decoration: none;
    color: var(--color-hover-a);
}

nav > a:hover {
    border-bottom: 1px solid var(--color1);
}

.dropdown .contents {
    display: none;
    position: absolute;
    z-index: 1;
    margin-bottom: 2.6em;
}

.dropdown:hover .contents {
    display: block;
    width: 100%;
}

.dropdown .contents > a {
    display: block;
    text-align: center;
    font-size: 1.8rem;
}
