nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "n1 n2 n3";
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 1;
}

.accueil {
    display: flex;
    position: relative;
}

.navebar {
    grid-area: n2 ;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    z-index: 1000;
    backdrop-filter: blur(4px);
    margin-top: 0 !important;
}

#raidstrat{
    height: 300px;
    white-space: nowrap ;
}
#movebar {
    margin-right: 20px;
}
.navebar > a, .dropdown > a {
    margin: 0 1em;
    font-family: lifecraft !important;
    text-shadow: 1px 1px 1px black;
    font-size: 2.4rem;
    max-height: 40px;
    z-index: 4;
}
/* bare deroulante */
.dropdown {
    position: relative;
    white-space: nowrap;
    z-index: 2;
}

.navebar > a:hover,
.dropdown > a:hover,
.dropdown .contents > a:hover {
    text-decoration: none;
    color: var(--color-hover-a);
}

.dropdown > a:hover {
    border-bottom: 1px solid var(--color1);
}

.contents {
    display: none;
    position: absolute;
    z-index: 1;
    font-size: 1.8rem;
    margin-bottom: 2.2rem;
    height: 100px;
    width: 120px;
}

.dropdown:hover .contents {
    display: block;
    backdrop-filter: blur(3px);
}

.dropdown .contents > a {
    display: block;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    backdrop-filter: blur(3px);
}

@media screen and (min-width:1040px) {
    nav{
        grid-area: n2 ;
        display:grid;
        grid-template-columns: 2fr 1fr 2fr;
        z-index: 4;
        font-size: 1.8rem;
        backdrop-filter: blur(4px);
    }
    
}
@media screen and (min-width:1805px) {
    nav{
        grid-area: n2 ;
        display:grid;
        grid-template-columns: 4fr 1fr 4fr;
        z-index: 4;
        font-size: 1.8rem;
        backdrop-filter: blur(4px);
    }
    
}

