@font-face {
    font-family: lifecraft;
    src: url(../fonts/LifeCraft_Font.ttf);
}

:root {
    --color1: rgb(0,147,249) ; /*couleur ligne nav*/
    --color2: rgba(1, 20, 41, 0.678) ; /*Couleur bordure bouton*/
    --color3: rgb(1, 79, 131) ;  /* Couleur ecriture bouton */
    --color4: rgb(190, 190, 190) ; /* Couleur interrieur bouton */
    --color5: rgb(0,110,187) ; /* couleur texte barre nav */
    --color6: yellow ; /*coleur voluntas*/

    --color-hover-a: rgb(157 206 241);
}

a {
    text-decoration: none;
}

#background-video {
    position:absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}