:root {
  --vulcan-green: #00A0FF;
  --vulcan-red: #f30707;
  --death-knight: #C41E3A;
  --demon-hunter: #A330C9;
  --druid: #FF7C0A;
  --hunter: #AAD372;
  --mage: #3FC7EB;
  --monk: #00FF98;
  --paladin: #F48CBA;
  --priest: #CCCCCC;
  --rogue: #FFF468;
  --shaman: #0070DD;
  --warlock: #8788EE;
  --warrior: #C69B6D;
}

.modal-subsection-title {
  color: rgb(91, 119, 155) !important;
}
.crop-main {
  overflow: hidden;
}

/* "MAGIE NOIRE, MAGIE NOIRE */
.crop-main-img {
  object-fit: fill;
  width: 300%;
  margin: -38% -95%;
}

.modal-body p.title {
  text-transform: uppercase;
  color: rgb(0,110,187);
  font-weight: bold;
}

.slack-enchant {
  color: var(--vulcan-red);
  font-weight: bold;
  text-transform: uppercase;
}

.no-slack-enchant {
  color: #00a2ff !important;
  text-shadow: 2px 2px 2px black;
}
.no-slack-enchant p{
  color: #00A0FF !important;
  text-shadow: 4px 4px 4px rgb(1, 0, 2);
}

.boss-down {
  color: rgb(0, 0, 0) !important;
  text-shadow: 4px 4px 4px rgb(51, 2, 167);
}

.slack-ilvl {
  color: var(--vulcan-red) !important;
}
.no-slack-ilvl {
  color: var(--vulcan-red) !important;

}
.run-completed {
  color: var(--vulcan-green) !important;
  text-shadow: 4px 4px 4px rgb(1, 0, 2);
}

.run-not-completed {
  color: darkblue !important;
  text-shadow: 4px 4px 4px rgb(1, 0, 2);
}

.chevalier-de-la-mort {
  color: var(--death-knight) !important;
}

.chasseur-de-démons {
  color: var(--demon-hunter) !important;
}

.druide {
  color: var(--druid) !important;
}

.chasseur {
  color: var(--hunter) !important;
}

.mage {
  color: var(--mage) !important;
}

.moine {
  color: var(--monk) !important;
}

.paladin {
  color: var(--paladin) !important;
}

.prêtre {
  color: var(--priest) !important;
}

.voleur {
  color: var(--rogue) !important;
}

.chaman {
  color: var(--shaman) !important;
}

.démoniste {
  color: var(--warlock) !important;
}

.guerrier {
  color: var(--warrior) !important;
}

.vulcan-hidden {
  visibility: hidden !important;
}

.modal-section-title {
  text-transform: uppercase;
  font-weight: bold;
}

.modal-subsection-title {
  text-transform: capitalize;
  font-weight: bold;
}

#progress {
  width: 100%;
  background-color: grey;
}

#progress-bar {
  width: 1%;
  height: 5px;
  background-color: #00A0FF;
}
.murlock {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 150px;
}
#progress-label {
  position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    color: rgba(0, 145, 249, 0.103);
}

#filters {
  background-color: #f8f8f8;
  padding-top: 30px;
}
